Django==4.2.7
Pillow==10.1.0
django-crispy-forms==2.0
django-environ==0.11.2
django-widget-tweaks==1.5.0
python-dateutil==2.8.2
reportlab==4.0.4
django-cleanup==8.0.0
gunicorn==21.2.0
whitenoise==6.5.0
psycopg2-binary==2.9.9
django-storages==1.14.2
djangorestframework==3.14.0