<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Sofia&display=swap">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOOD BANK MANAGEMENT SYSTEM</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <header>
     <h1><B> Blood Bank Management System</B></h1>
        <nav><ul>
            <li> <a href="home.html">Home</a></li>
            <li><a href="registration.html">Donor</a></li>
            <li><a href="recipients_registration.html">Recipient</a></li>
            <li><a href="admin_registration.html">Admin</a></li>
        </ul>
    </nav>
    </header>
    <section class="banner">
<img src="/image(4).jpg" alt="Home page image">
<div class="banner-text">
    <h1>Join us in making a difference in the lives of others.
       <br> Donate blood,save lives.
    </h1>
</div>
    </section>
<footer>
     <b>All Rights Reserved @ 2025</b>
    </footer>
</body>
</html>
</body>
</html>